
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
body {
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

/* Dark Mode */
.dark-mode {
    background-color: #222;
    color: #fff;
}

/* Header */
header {
    margin: 20px;
}

button {
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Features Container */
.features-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

/* Flip Card Styles */
.card {
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Card Front */
.card-front {
    background: #b8b8b9;
    color: rgb(0, 0, 0);
}

/* Card Back */
.card-back {
    background: #b8b8b9;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}
