* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:cursive;
    background-image:url('bg.jpg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100%;
    margin-left:-500px;
    
    
}

.form-container {
    background:transparent ;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 10px 100px rgba(251, 251, 251, 0.1);
    text-align: center;
    width: 350px;

}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #eae1e1;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #0e4657;
    outline: none;
}

.btn {
    background-color: #b8aeb0;
    border: none;
    padding: 12px 20px;
    color: rgb(16, 17, 17);
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #a2e9f1;
}

.switch-form {
    margin-top: 15px;
    font-size: 18px;
    color:rgb(205, 123, 238);
}

.switch-form a {
    color: #469be0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.switch-form a:hover {
    color: #928f85;
}

form {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .container {
        margin-left: 0;
        justify-content: center;
        padding: 20px;
    }

    .form-container {
        width: 200%; /* Forms will take up 80% of the screen width */
        padding: 50px;
    }

    h2 {
        font-size: 30px;
    }

    .input-group input {
        font-size: 18px;
    }

    .btn {
        font-size: 18px;
    }

    .switch-form {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 90%; /* Forms will take up 90% of the screen width */
        padding: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .input-group input {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
    }

    .switch-form {
        font-size: 10px;
    }
}

  
  
  
  

