* {
  margin: 0;
  padding: 0;
}
  body {
    font-family: Impact, sans-serif;
    background-image: url("img.jpg");
    }
  .navbar {
    background-color: #d4e0e5;
    padding: 15px;
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .outer-div {
  height: 100%;
  width:100%;
  background: linear-gradient( bottom right, darkgrey, #666);
}

.inner-div {
  height: 100vh;
  width:100%;
  background-image: 
    linear-gradient(to right, #e5e7eb 1px, transparent 1px), 
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 4rem 4rem;
}

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
  .dropdown {
    position: relative;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    -webkit-text-fill-color:#20778f;
    min-width: 150px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.dropdown-content a {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition :  0.3s ease;
    display: block;
    color:white;
}

.dropdown-content a:hover {
  background-color: grey;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:hover {
    background-color: black;
}
  .logo a {
    color:rgb(255, 255, 255);
    background: -webkit-linear-gradient(
    right,
    #b8cfd5,
    #5c8c9c,
    #5c94a4
    );
    font-size: 50px;
    border-radius: 5px;
    text-decoration:none ;
  }
  
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
    color: #3a3e4f;
  }

  .nav-links li {
    margin-left: 20px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  
  .nav-links a {
    color: #3a3e4f;  
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  .nav-links li a :hover {
  border-radius: 5px;
    background-color: #e2e2e2;
  }
  .nav-links a:hover {
    background-color: #e2e2e2;
    border-radius: 5px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .search-container input {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .search-btn {
    background-color: #395279;
    color: white;
    padding: 5px 10px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .search-btn:hover {
    background-color: #6686b6;
    color: white;
  }

  .hamburger-menu {
    display: none; 
    position: relative;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger span {
    width: 30px;
    height: 5px;
    background-color: rgb(195, 186, 186);
    border-radius: 5px;
  }
  
  .hamburger-menu .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    min-width: 120px;
    z-index: 1000;
  }
  
  .hamburger-menu .dropdown-content a {
    padding: 10px;
    color: white;
    display: block;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    transition:  0.3s ease;
  }
  
  .hamburger-menu .dropdown-content a:hover {
    background-color: grey;
  }
  
  
  .hamburger-menu:hover .dropdown-content {
    display: block;
  }

  .background-section {
    margin-top: 80px; 
    background-size: cover;
    background-position: center;
    height: 700px;
    text-align: center;
    padding: 50px;
  }

  @media (max-width: 868px) {
   
    .background-section p {
        font-size: 10px;
    }
    
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: #333;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
      transition: all 0.3s ease;
    }
  
    .nav-links li {
      margin: 20px 0;
    }
  
    .search-container {
      display: none;
    }
  }