* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    margin-top: 0.5rem;
    padding-bottom: 0.2rem;
    margin-left: -80px;
    gap: 0.2rem;
}
/*  */
nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    margin-top: 0.5rem;
    margin-left: 6rem;
}

nav ul {
    width: 100%;
    list-style: none;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    color: black;
}

nav li:hover {
    transform: scale(1.2rem);
    
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 100vh;
    margin-left: 10px;
    margin-top: -10px;
    width: 300px;
    z-index: 999;
    background-color: #f9f9f9;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding-top: 4rem;
    cursor: pointer;
}

.sidebar a {
    width: 100%;
}

 #menu1 {
    padding-left: 16rem;
    padding-top: 1rem;
}


#kit{
    height: 30px;
    width: 50px;
    border-radius: 40px;
    background-color: transparent;
    outline-color: #fff;
    border: none;
    cursor: pointer;
    
}

#lkit {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: transparent;
    outline-color: #fff;
    border: none;
    cursor: pointer;
    


}

#logo {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    background-color: transparent;
    border: solid rgb(199, 199, 199) 1px;
    outline-color: #fff;
    margin-top: -2px;
    cursor: pointer;
}

.container-all {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 50px;
    background-color: transparent;

}

.box{
    height: 500px;
    width: 600px;
    background-color: transparent;
    
}

.abox {
    height: 120px;
    width: 750px;
    background-color: transparent;
    box-shadow: black;
    border: transparent;
    border-radius: 40px;
    box-shadow: 0px 0px 3px rgb(152, 152, 152);
}

#sbox {
    width:720px;
    height: 40px;
    outline: #fff;
    
}

.container-search {
    padding-top: 1rem;
    padding-left: 1rem;
}

.downbox {
    margin-top: -20px;
}

#srkit {
    height: 30px;
    width: 90px;
    border-radius: 20px;
    outline-color: #fff;
    border: solid rgb(199, 199, 199) 1px;
    margin-top: 0px;
    cursor: pointer;
    background-color: #fff;
}

#srkit:hover {
    background-color: #f0f0f0;
}

button {
    margin-top: 08px;
    background-color: transparent;

}

#logo1 {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    outline-color: #fff;
    border: none;
    margin-top: -2px;
    cursor: pointer;


}

#logo1:hover {
    background-color: rgb(96, 96, 96);
}

#logo:hover {
    background-color: #f0f0f0;
}