body{
    margin:0%;
    padding:0%;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210408/pngtree-white-abstract-vector-web-background-design-image_597636.jpg);
    background-size: cover;
}
h1{
    text-align: center;
}
.button1{
    margin-left: 2%;
}
ul{
    display: none;
}



 .button1:hover ul{
    list-style-type: none;
    display:block;
    background-color: rgba(4, 22, 38, 0.103);
    padding:0px;
    margin-right: 0cm;
    margin-top:-15px;
    margin-left: -30px;
    font-size: x-large;
}
ul li{
    padding: 5px;
    text-align: center;
}
ul li:hover{
    font-weight: bold;
}

  